@media only screen and (min-width:750px){
.around{
    background-color: goldenrod;
    height: 250px;
    width: 250px;
    /* border-radius: 0% 10% 25% 50%; */
    /* display: inline-block; */
    position: relative;
    animation-name: floatie;
    animation-duration: 6.993ms;
    animation-iteration-count: infinite;
    /* animation-fill-mode: ; */
    /* animation-timing-function: ease-in-out; */
    /* background-image: url("https://media1.tenor.com/images/c3b1d0b7eac0883e3cb40f3e6f608b71/tenor.gif?itemid=4664630"); */
}

@keyframes floatie{
    0%{
        left: 0px;
        top: 0px;
        border-radius: 0% 50% 0% 50%;
    }
    25%{
        left: 500px;
        top: 0px;
        border-radius: 50% 0% 50% 0%;
    }
    50%{
        left: 500px;
        top: 500px;
        border-radius: 0% 50% 0% 50%;
    }
    75%{
        left: 0px;
        top: 500px;
        border-radius: 50% 0% 50% 0%;
    }
    100%{
        left: 0px;
        top: 0px;
        border-radius: 0% 50% 0% 50%;
    }
}
}

@media only screen and (max-width:749px){
    .around{
        background-color: blue;
        height: 250px;
        width: 250px;
        /* border-radius: 0% 10% 25% 50%; */
        /* display: inline-block; */
        position: relative;
        animation-name: floatie;
        animation-duration: 6.99ms;
        animation-iteration-count: infinite;
        /* animation-fill-mode: ; */
        /* animation-timing-function: ease-in-out; */
        /* background-image: url("https://media1.tenor.com/images/c3b1d0b7eac0883e3cb40f3e6f608b71/tenor.gif?itemid=4664630"); */
    }
    
    @keyframes floatie{
        0%{
            left: 0px;
            top: 0px;
            border-radius: 0% 50% 0% 50%;
        }
        25%{
            left: 500px;
            top: 0px;
            border-radius: 50% 0% 50% 0%;
        }
        50%{
            left: 500px;
            top: 500px;
            border-radius: 0% 50% 0% 50%;
        }
        75%{
            left: 0px;
            top: 500px;
            border-radius: 50% 0% 50% 0%;
        }
        100%{
            left: 0px;
            top: 0px;
            border-radius: 0% 50% 0% 50%;
        }
    }
}

#horseTable{
    width:  80%;
    margin: auto;
    border: 1px solid steelblue;
}